<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookback.mapper.BookMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bookback.model.BookDO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="info" property="info"/>
        <result column="type" property="type"/>
        <result column="create_at" property="createAt"/>
        <result column="update_at" property="updateAt"/>
        <result column="deleted" property="deleted"/>
        <result column="image_url" property="imageUrl"/>
        <result column="author" property="author"/>
        <result column="publish_time" property="publishTime"/>
        <result column="score" property="score"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , name, price, info, type, create_at, update_at, deleted,image_url,author,publish_time,score
    </sql>

</mapper>
