<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookback.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bookback.model.OrderDO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="total" property="total"/>
        <result column="create_at" property="createAt"/>
        <result column="update_at" property="updateAt"/>
        <result column="deleted_at" property="deletedAt"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , user_id, total, phone, address, create_at, update_at,deleted_at,deleted
    </sql>

</mapper>
