<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookback.mapper.ShopCartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bookback.model.ShopCartDO">
        <id column="id" property="id"/>
        <result column="book_id" property="bookId"/>
        <result column="user_id" property="userId"/>
        <result column="num" property="num"/>
        <result column="total" property="total"/>
        <result column="create_at" property="createAt"/>
        <result column="update_at" property="updateAt"/>
        <result column="deleted" property="deleted"/>
        <result column="order_id" property="orderId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , book_id, user_id, num, total, create_at, update_at, deleted,order_id
    </sql>

</mapper>
