<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookback.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bookback.model.UserDO">
        <id column="id" property="id"/>
        <result column="phone" property="phone"/>
        <result column="nick_name" property="nickName"/>
        <result column="password" property="password"/>
        <result column="address" property="address"/>
        <result column="create_at" property="createAt"/>
        <result column="update_at" property="updateAt"/>
        <result column="deleted" property="deleted"/>
        <result column="role" property="role"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , phone, nick_name,password, address, create_at, update_at, deleted,role
    </sql>

</mapper>
